body {
  background-color: whitesmoke;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  font-family: sans-serif;
}
ul {
  font-size: .8em;
}
.B {
  font-weight:bold;
}
.C {
  text-align:center;
}
.Re {
  color:red;
}
.Gr {
  color:green;
}
.Bl {
  color:blue;
}
.Or {
  color:orange;
}
#cont {
  position: absolute;
  background-color: whitesmoke;
}

.uButtons {
  text-align: center;
  margin: 0;
  padding: 1px 12px;
  color: black;
  border: solid black;
  border-width: calc(1%);
  font-size: 75%;
  border-radius: 64px;
}

.uButtonsDisabled {
  background-color: #d5d5d5;
  background: linear-gradient(#eeeeee, #d5d5d5);
  opacity: 0.5;
}

.uButtonGrey {
  background-color: #d5d5d5;
  background: linear-gradient(#eee, #999);
}

.uButtonGrey:hover {
  background-color: #dfdfdf;
  background: linear-gradient(#fff, #aaa);
}

.uButtonGrey:active {
  background: linear-gradient(#ddd, #888);
}

.uButtonGreen {
  background: linear-gradient(#7e7, #191);
}

.uButtonGreen:hover {
  background: linear-gradient(#8f8, #2a2);
}

.uButtonGreen:active {
  background: linear-gradient(#6d6, #080);
}

.uButtonRed {
  background: linear-gradient(#e77, #911);
}

.uButtonRed:hover {
  background: linear-gradient(#f88, #a22);
}

.uButtonRed:active {
  background: linear-gradient(#d66, #800);
}

.uButtonLeft {
  border-radius: 320px 0px 0px 320px;
  margin-right: 0;
  border-right: 0;
}

.uButtonMid {
  border-radius: 0px;
  margin-left: 0;
  margin-right: 0;
  border-left: 0;
  border-right: 0;
}

.uButtonRight {
  border-radius: 0px 320px 320px 0px;
  margin-left: 0;
  border-left: 0;
}

.fsButton {
  display: inline-block;
}

.fsInner {
  transform: scale(1.3,0.9);
  font-weight: bolder;
  display: inline-block;
  padding-top: 4px;
  line-height: 80%;
  padding-top: 1;
}

.settB {
  position: absolute;
  padding: 1% 2.2% 1% 2.2%;
  line-height: 125%;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  font-size: 125%;
}

#settW {
  position: absolute;
  top: 0;
  left: -90%;
  height: 100%;
  width: 90%;
  background-color: hsla(0, 0%, 100%, .95);
  transition: .7s;
}

.vImg {
  display: inline-block;
  margin-right: 8%;
  transform: scaleX(2);
}

#noty {
  width: 90%;
  left: 5%;
  position: absolute;
  border: 2px solid hsl(0, 0%, 0%);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 1%;
  font-weight: bold;
  background-color: hsla(0, 0%, 100%, .95);
  opacity: 0;
  transition: opacity .5s;
}

.loadC {
  width: 90%;
  position: relative;
  margin: 2px auto;
  border-radius: 24px;
  border: 2px solid hsl(0, 0%, 50%);
  text-align: left;
}

.loadPi {
  position: relative;
  border-radius: inherit;
  height: 24px;
  width: 0%;
  background: linear-gradient(hsl(120, 100%, 80%), hsl(120, 100%, 30%));
}

.loadPc {
  border-radius: inherit;
  position: absolute;
  width: 100%;
  text-align: center;
  color: hsl(0, 0%, 50%);
  font-weight: bold;
  font-size: 125%;
  line-height: 24px;
  top: 0px;
}

.loadVV {
  position: relative;
  float: none;
  animation: Vom .5s ease-in-out alternate infinite;
  width: 25%;
  background: radial-gradient(farthest-side at 50% 50%, hsl(120, 100%, 50%), hsla(0, 100%, 50%, 0));
}

@keyframes Vom {
  from {left: 0%;}
  to {left: 75%;}
}

#toastPopup {
  position: absolute;
  top: 80%;
  width: 100%;
  border-top: 4px solid hsl(210, 100%, 50%);
  animation: popupBouncer .6s ease-in-out;
  background-color: hsla(0, 0%, 100%, .95);
}
@keyframes popupBouncer {
  0% {top: 100%;}
  60% {top: 75%;}
  100% {top: 80%;}
}

#buttonClose {
  position: absolute;
  left: calc(100% - 32px);
  font-weight: bold;
  padding: 3px 8px;
  line-height: 100%;
  font-size: 1.5em;
}
#unp {
  padding: 2% 10%;
  text-align: center;
  font-weight: bold;
}